<div class="grid-container">
  <div class="pie"><app-pie-chart [data]="cases"></app-pie-chart></div>
  <div class="grid-item"><app-dynamic-chart></app-dynamic-chart></div>
  <div class="grid-item"><app-pie-chart></app-pie-chart></div>
  <div class="grid-item">7</div>
  <div class="grid-item"><app-dynamic-chart></app-dynamic-chart></div>
  <div class="grid-item"><app-dynamic-chart></app-dynamic-chart></div>
  <div class="grid-item"><app-line-chart></app-line-chart></div>
  <div class="grid-item">8</div>
  <div class="grid-item">9</div>
</div>
<app-pie-chart [data]="cases"></app-pie-chart>
